.opportunity{
    width: 588px;
    height: 346px;

}


.opportunity-container{
    display: flex;
    justify-content: center ;
    padding:30px;
    background-image: linear-gradient(to right top, #050936, #030f3c, #031342, #031648, #021a4e, #04205d, #06276c, #092e7b, #153997, #2345b5, #3350d3, #445cf1);

}
.opportunity-heading h3{
    font-family: Kanit;
    font-weight: 600;
    font-size: 52px;
    margin: 0px;
    line-height: 50px;
    color: #fff;

}
.opportunity-para p{
    font-family:poppins ;
    font-size:14px ;
    font-weight:400 ;
    color: #fff;
}

.explore{
    font-family: kanit;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    background-color: #015AF2;
    width: fit-content;
    padding: 1px 40px;
}


@media screen and (max-width: 768px) {
    .opportunity{
        width: 100%;
    }
    .opportunity-container {
        flex-direction: column;
        align-items: center;
    }
    .graph-img img{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .opportunity-heading h3 {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }
}
